body{
    background-color: antiquewhite !important;
}
.container{
    image-resolution:none;
    background-color: beige;
    background:local;
}
/* Use the border property to create thumbnail images. */
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }